<%-

t_helper = AuthorizedRailsScaffolds::RailsErbScaffoldHelper.new(
  :class_name => class_name,
  :singular_table_name => singular_table_name,
  :file_name => file_name
)

local_class_name = t_helper.local_class_name # Non-Namespaced class name
var_name = t_helper.var_name # Non-namespaced variable name
plural_var_name = t_helper.plural_var_name # Pluralized non-namespaced variable name

-%>
<%%= simple_form_for(<%= t_helper.scoped_values_for_form %>, :html => { class: 'form-horizontal' }) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @<%= var_name %>.persisted? ? <%= t_helper.controller_show_route "@#{var_name}" %> : <%= t_helper.controller_index_path %>,
                :class => 'btn'
    %>
  </div>
<%% end %>
