<%-

t_helper = AuthorizedRailsScaffolds::RailsErbScaffoldHelper.new(
  :class_name => class_name,
  :singular_table_name => singular_table_name,
  :file_name => file_name
)

resource_var = t_helper.resource_var

-%>
<%%- model_class = <%= t_helper.resource_class %> -%>
<div class="page-header">
  <h1><%%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal item-summary">
<%- attributes.each do |attribute| -%>
  <%- attribute_label = "model_class.human_attribute_name(:#{attribute.name})" -%>
  <%- if attribute.type == :references -%>
  <%% if <%= resource_var %>.<%= attribute.name %>.present? && can?(:read, <%= resource_var %>.<%= attribute.name %>) %>
  <dt><strong><%%= <%= attribute_label %> %>:</strong></dt>
  <dd><%%= link_to <%= resource_var %>.<%= attribute.name %>, <%= t_helper.references_show_route attribute.name %> %></dd>
  <%% end %>
  <%- elsif [:datetime, :timestamp, :time, :date].include? attribute.type -%>
  <%% unless <%= resource_var %>.<%= attribute.name %>.nil? %>
  <dt><strong><%%= <%= attribute_label %> %>:</strong></dt>
  <dd><%%=l <%= resource_var %>.<%= attribute.name %><% if attribute.type == :datetime %>, :format => :long<% end %><% if attribute.type == :time %>, :format => :short<% end %> %></dd>
  <%% end %>
  <%- elsif attribute.type == :string -%>
  <%% unless <%= resource_var %>.<%= attribute.name %>.blank? %>
  <dt><strong><%%= <%= attribute_label %> %>:</strong></dt>
  <dd><%%= <%= resource_var %>.<%= attribute.name %> %></dd>
  <%% end %>
  <%- else -%>
  <%% unless <%= resource_var %>.<%= attribute.name %>.nil? %>
  <dt><strong><%%= <%= attribute_label %> %>:</strong></dt>
  <dd><%%= <%= resource_var %>.<%= attribute.name %> %></dd>
  <%% end %>
  <%- end -%>
<%- end -%>
</dl>

<div class="form-actions">
  <%%= link_to t('.back', :default => t("helpers.links.back")),
              <%= t_helper.controller_index_path %>, :class => 'btn'  %>
  <%% if can? :update, <%= resource_var %> %>
    <%%= link_to t('.edit', :default => t("helpers.links.edit")),
              <%= t_helper.controller_edit_route resource_var %>,
              :class => 'btn'
    %>
  <%% end %>
  <%% if can? :destroy, <%= resource_var %> %>
    <%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              <%= t_helper.controller_show_route resource_var %>,
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'act act-danger pull-right'
    %>
  <%% end %>
</div>
